$primary-color: #39cdcc;
$secondary-color: #213f7d;
$sub-secondary-color: #545f7d;
$gray-background: #fbfbfb;
$radius-8: 8px;
$radius-5: 5px;
$radius-100: 100px;
$fs-16: 16px;
$fs-12: 12px;
$fs-14: 14px;
$fs-40: 40px;
$fs-20: 20px;
$fs-24: 24px
::-webkit-scrollbar {
  width: 0em;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin sqr-img {
  width: 24.75px;
  height: 25px;
  margin-right: 8%;
}
.gr-bg {
  background-color: $gray-background;
}
.button-main-type {
  background-color: $primary-color;
  color: #fff;
  border: 0px;
  padding: 14px 0px 14px 0px;
  &:hover {
    background-color: darken($primary-color, 10%);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
  @include border-radius(8px);
}

.input-main-type {
  background-color: #fff;
  border: 2px solid rgba(84, 95, 125, 0.15);
  opacity: 0.6;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  padding: 14px 15px 14px 15px;
  @include border-radius(5px);
}
.input-search {
  background: #ffffff;
  opacity: 0.2;
  color: $sub-secondary-color;
  border: 1px solid #213f7d;
  padding: 12px 18px 12px 18px;
  @include border-radius(8px);
}
.color-primary {
  color: $primary-color;
}
.fs-12 {
  font-size: $fs-12;
}
.fs-14 {
  font-size: $fs-14;
}
.fs-16 {
  font-size: $fs-16;
}
.fs-24{
    font-size: $fs-24;
}
.fs-40 {
  font-size: $fs-40;
}
.fs-20 {
  font-size: $fs-20;
}
.fw-6 {
  font-weight: 600;
}
.fw-5 {
  font-weight: 500;
}
.fw-4 {
  font-weight: 400;
}
.fw-7 {
  font-weight: 700;
}
.form-main {
  &_text {
    h3 {
      color: $secondary-color;
    }
    span {
      color: $sub-secondary-color;
    }
  }
  .input-group-text {
    background-color: #fff;
    color: $primary-color;
    border-left: 0;
    cursor: pointer;
  }
}
.logo-float {
  display: flex;
  align-items: initial;
  position: absolute;
  width: 173.76px;
  height: 36px;
  left: 97px;
  top: 106px;
  &_sqr {
    @include sqr-img();
    left: 97px;
    margin-right: 8%;
  }
  &_wri {
    width: 138.44px;
    height: 36px;
  }
}
.logo-navbar {
  display: flex;
  align-items: initial;
  width: 173.76px;
  height: 36px;

  &_sqr {
    @include sqr-img();
  }
}
.dashboard {
  background-color: $gray-background;
  &_sub {
    @media screen and (min-width: 768px) {
      padding-left: 283px;
    }
    .section-text{
        color: $secondary-color;
    }
    .cards {
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        @include border-radius(4px);
        .num{
            color: $sub-secondary-color;
        }
        .txt{
            color: $secondary-color;
        }
    }
    @media screen and (min-width: 768px) {
        .cards{
            width: 23.5%;
        }
      }
    .table{
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-collapse: inherit;
        @include border-radius(4px);
        tr{}
    }
  }
  .navbar {
    z-index: 2;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    .input-group-text {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      @include border-radius(8px);
      &:hover {
        background-color: darken($primary-color, 10%);
        cursor: pointer;
      }
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 283px;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    &_icon {
      display: flex;
      padding: 0 0.6rem 0 0;
      opacity: 0.4;
    }
    &_text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $sub-secondary-color;
    }
    &_label {
      margin: 0;
      padding: 1rem;
      padding-left: 1.8rem;
      color: $sub-secondary-color;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 45% 0 0 0;
      overflow-y: scroll;
      height: 100vh;
      li {
        margin: 0;
        padding: 1rem;
        padding-left: 1.8rem;
        &:hover {
          background-color: rgba(57, 205, 204, 0.06);
          border-left: 2px solid $primary-color;
          cursor: pointer;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
